
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					<!-- <div class="header-elements d-none">
						<div class="d-flex justify-content-center">
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
						</div>
					</div> -->
				</div>

				<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
					<div class="d-flex">
						<div class="breadcrumb">
							<a href="dashboard" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
							<span class="breadcrumb-item active">Dashboard</span>
						</div>

						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					<!-- <div class="header-elements d-none">
						<div class="breadcrumb justify-content-center">
							<a href="#" class="breadcrumb-elements-item">
								<i class="icon-comment-discussion mr-2"></i>
								Support
							</a>

							<div class="breadcrumb-elements-item dropdown p-0">
								<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
									<i class="icon-gear mr-2"></i>
									Settings
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
									<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
									<a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<!-- /page header -->

<!--Contant Area-->
<section>
    <div class="container">

        <div class="container mt-4 p-4  text-dark ">
            <h1 class="text-center"><b>Profile</b></h1>

            <div class="col-md-7 mx-auto bg-light p-3 rounded shadow">
                <form action="" method="post">
                
                    <div class="mt-2 p-2">
                        <label for=""> <b>First Name: </b> </label>
                        <input type="text"  name="first_name" class="form-control" value="Ali">
                    </div>
                    <div class=" mt-2 p-2">
                        <label for=""><b>Last Name</b></label>
                        <input type="text"  name="last_name" class="form-control" value="Qadeer">
                    </div>
                    <div class=" mt-2 p-2">
                        <label for=""> <b>Email/User Name: </b> </label>
                        <input type="text"  name="user_name" class="form-control" value="admin">
                    </div>
                    <div class="mt-2 p-2">
                        <label for=""><b>Password:</b></label>
                        <input type="password"  name="password" class="form-control" value="admin124">
                    </div>
                    
                    
                    
                    <div class="mt-2 p-2">
                        <input type="hidden" name="updateId" value="1">
                        <input type="submit"  name="submit" class="btn btn-primary float-right" value="Update">
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>

        </div>


        
    </div>
</section>

 
<!--Contant Area-->


		

		</div>
		<!-- /main content -->
