<!-- Main content -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src = "assets/js/visitors.js"></script>

<div class="content-wrapper">

  <!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4><i class="icon-home4"></i>
          <span class="font-weight-semibold">Visitors</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i
            class="icon-more"
          ></i></a>
      </div>

      <!-- <div class="header-elements d-none">
						<div class="d-flex justify-content-center">
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
							<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
						</div>
					</div> -->
    </div>

    <div
      class="breadcrumb-line breadcrumb-line-light header-elements-md-inline"
    >
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="/dashboard" class="breadcrumb-item"><i
              class="icon-home4 mr-2"
            ></i>
            Dashboard</a>
            <span class="breadcrumb-item active">Visitors</span>
        </div>

        <a href="#" class="header-elements-toggle text-default d-md-none"><i
            class="icon-more"
          ></i></a>
      </div>

         </div>
  </div>
  <!-- /page header -->

  <!-- Content area -->
  <div class="content">
    {{! my statics  }}
    <!-- Quick stats boxes -->
    <div class="row  ">
      <div class="col-lg-4">
        <div class="card bg-teal-400 bg-info">
          <div class="card-body">
            <div class="d-flex bg-info">
              <h3 class="font-weight-semibold mb-0">
                <div id = "daily"></div>
              </h3>
              
              <!-- Badge Code - Do Not Change The Code -->
{{!-- <a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank"  data-name="f3f4fef1b725347331f7860b82e760ee|5|page|1|#ea5050|#ffffff|small|s-hit">Hit Counter</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script> --}}
<!-- Badge Code End Here -->
{{!-- <div id="sfchw18c6p98h1ewzgc1frka8jgbuasbqtq"></div>
<script type="text/javascript" src="https://counter6.stat.ovh/private/counter.js?c=hw18c6p98h1ewzgc1frka8jgbuasbqtq&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="hit counter"><img src="https://counter6.stat.ovh/private/freecounterstat.php?c=hw18c6p98h1ewzgc1frka8jgbuasbqtq" border="0" title="hit counter" alt="hit counter"></a></noscript> --}}

            </div>
            <div>
              Today visitors
            </div>
          </div>
          <div class="container-fluid">
            <div id="members-online"></div>
          </div>
        </div>
        <!-- /members online -->

      </div>

      <div class="col-lg-4">
        <div class="card bg-teal-400 bg-info">
          <div class="card-body ">
            <div class="d-flex ">
              <h3 class="font-weight-semibold mb-0"><div id = "monthly"></div></h3>
              
            </div>
            <div>
              Monthly visitors
            </div>
          </div>
          <div class="container-fluid">
            <div id="members-online"></div>
          </div>
        </div>
        <!-- /members online -->

      </div>

      <div class="col-lg-4">
        <div class="card bg-teal-400 bg-info">
          <div class="card-body">
            <div class="d-flex">
              <h3 class="font-weight-semibold mb-0"><div id = "all"></div></h3>
            </div>
            <div>
              Total visitors
            </div>
          </div>
          <div class="container-fluid">
            <div id="members-online"></div>
          </div>
        </div>
        <!-- /members online -->
      </div>


	  
        <!-- /daily financials -->

      </div>
    </div>
    <!-- /dashboard content -->

  </div>
  <!-- /content area -->


<!-- /main content -->